@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
}

.container {
  min-width: 1000px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  background-color: #00000069;
  padding-left: 3.1em;
  padding-top: 3em;
  min-height: 40.4em;
  height: auto;
}
form {
  margin-bottom: 1em;
}
li {
  list-style: square;
}
h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1em;
}
label {
  margin-right: 0.3em;
  font-size: 1.6em;
}

/* #background {
} */
#task {
  font-size: 0.7em;
}
button {
  font-size: 1em;
  color: white;
  margin-left: 0.5em;
  border-radius: 7px;
  padding: 6px;
  font-weight: bold;
  background-color: black;
}
#deleteButton {
  margin-left: 0.5em;
  background-color: rgb(194, 188, 188);
  color: black;
  font-size: 0.5em;
}
